<p> Limiter à 
    <sui-select     class="selection" 
                    placeholder="Limiter à"
                    style="min-width: 60px"
                    [options]="PAGE_LENGTHS" 
                    #selectPageLength 
                    [(ngModel)]="page_length" 
                    (ngModelChange)="page_no=1" 
    >
    <sui-select-option  *ngFor="let option of selectPageLength.filteredOptions" 
                        [value]="option">
    </sui-select-option>
    </sui-select> éléments
</p>
<table class="ui very basic celled table">
    <thead>
        <tr>
<!-- headers avant ici -->
<!-- headers avant ici /-->
            <th *ngFor = "let header of headers; let i = index">
                <div (click)="sortData(i)" style="cursor: pointer">
                    {{header}}
                    <i class="small sort icon" 
                        [ngClass]="{'ascending' : i==sorted_column && sort_order== 1, 
                                    'descending': i==sorted_column && sort_order==-1}"
                    ></i>
                </div>
                <div class="ui icon input">
                        <input [(ngModel)]="filter_criteria[i]" type="text" style="width: 50%" (keyup)="filterData()">
                        <i class="filter icon"></i>
                </div>   
            </th>
<!-- headers après ici -->
            <th>Actions
                <div>
                    <button class="small ui violet icon button" suiPopup popupText="Effacer les filtres" (click)="resetFilters()"> 
                        <i class="erase icon"></i> 
                    </button> 
                </div>
            </th>
<!-- headers après ici /-->
        </tr>
    </thead>
    <tbody *ngIf = "data; else load">   
    <tr *ngFor = "let tuple of filtered_data | slice:(page_no-1)*page_length:page_no*page_length; trackBy: getId;">
<!-- colonne avant ici -->
<!-- colonne avant ici /-->
        <td *ngFor = "let header of headers; let i = index">
            {{tuple[i]}}
        </td>
<!-- colonne après ici -->
        <td>
            ID : {{getId(tuple)}} <!--TODO pour tester, à supprimer-->
            <button (click)="startEditFirm(getId(tuple))" class="ui blue icon button" suiPopup popupText="Modifier">
                <i class="write icon"></i> 
            </button>

        </td> 
<!-- colonne après ici /-->
    </tr> 
    </tbody>
    <ng-template #load>
        <tbody class="ui active inverted dimmer">
            <tr class="ui loader"></tr>
        </tbody>
    </ng-template>
</table>
<p>Affichage des éléments {{min(1+(page_no-1)*page_length, filtered_data.length)}} à {{min(page_no*page_length, filtered_data.length)}} parmi {{filtered_data.length}} élements</p>
<sui-pagination [collectionSize]="ceil(filtered_data.length/page_length)" 
                [(page)]="page_no" 
                [maxSize]="3" 
                [pageSize]="1"> 
</sui-pagination>

<!-- sui Edit Firm -->
<sui-modal [isClosable]="true" *ngIf="showEditFirm" (dismissed) = "cancelEditFirm()">
  <div class="header">Edition de la société {{activeFirm.name}}</div>
  <div class="content">
    <form class="ui form">
      <div class="field">
        <label>SIRET</label>
        <input type="text" [(ngModel)]="activeFirm.siret" name="old" placeholder="SIRET...">
      </div>
      <div class="field">
        <label>Nom</label>
        <input type="text" [(ngModel)]="activeFirm.name" name="old" placeholder="Nom...">
      </div>
      <div class="field">
        <label></label>
        <label>Type de société</label>
        <select  [(ngModel)]="activeFirm.type.label" name="type">
          <option *ngFor="let type of firmTypes" [value]="type.label">
            {{type.label}}
          </option>
        </select>
      </div>
      <div class="field">
        <label>Nouveau mot de passe</label>
        <input type="text" [(ngModel)]="activeFirm.address" name="first" placeholder="">
      </div>
      <div class="field">
        <label>Confirmation du nouveau mot de passe</label>
        <input type="text" [(ngModel)]="activeFirm.city" name="second" placeholder="">
      </div>
    </form>
    <div *ngIf = "errorEditFirm" class="ui center aligned basic segment">
      <div class="ui compact negative message">
        <div class="header">Code 500 : erreur interne du serveur</div>
        <p>La connexion au serveur n'a pas pu être établie. Veuillez réessayer ultérieurement.</p>
      </div>
    </div>
    <div *ngIf = "loadingEditFirm" class="ui basic segment">
      <div class="ui active inverted dimmer">
        <div class="ui loader"></div>
      </div>
    </div>
  </div>
  <div class="actions">
    <button class="ui red button" (click) = "cancelEditFirm()" >Annuler</button>
    <button class="ui green button" autofocus (click) = "submitEditFirm()" [disabled] = "loadingEditFirm">Envoyer</button>
  </div>
</sui-modal>