<div class="ui segments" style="padding-bottom: 3%; margin-top: 3%; width: auto">
    <div class="ui horizontal divider" style="padding-top: 2%; padding-bottom: 1%;"> Mes clients </div>
    <p>     Limiter à 
        <sui-select     class="selection" 
                        placeholder="Limiter à"
                        style="min-width: 60px"
                        [options]="limits" 
                        #selectLimit 
                        [(ngModel)]="limit" 
                        (ngModelChange)="page=1" 
        >
        <sui-select-option  *ngFor="let option of selectLimit.filteredOptions" 
                            [value]="option">
        </sui-select-option>
        </sui-select> éléments
    </p>
    <div class="ui active inverted dimmer" *ngIf="!ready">
        <div class="ui loader"></div>
    </div>
    <table class="ui celled table" style="margin: 3% auto; width: 95%; table-layout: fixed;">
        <thead>
            <tr>
                <th>
                    <div class="ui icon labeled input" style="width: 100%">
                        <div class="ui label">Nom</div>
                        <input [(ngModel)]="searchName" (keyup)="search()"  type="text" style="width: 50%">
                        <i class="filter icon"></i>
                    </div>
                </th>
                <th>
                    <div class="ui icon labeled input" style="width: 100%">
                        <div class="ui label">Statut</div>
                        <sui-multi-select 
                            class="selection"
                            placeholder=" "
                            icon=""
                            style="min-width: 0; width: 100%"
                            [options]="statusOptions"
                            #selectStatus
                            [(ngModel)]="searchStatus"
                            [maxSelected]="statusOptions.length"
                            (ngModelChange)="search()"
                        >
                        <sui-select-option *ngFor="let status of selectStatus.filteredOptions" [value]="status"></sui-select-option>
                        </sui-multi-select>
                        <i class="filter icon"></i>  
                    </div>
                </th>
            </tr>
        </thead>

        <tbody>
            <tr *ngIf="search_results.length == 0"><td colspan="4">Pas de résultat trouvé</td></tr>
            <tr *ngFor="let contact of search_results | slice:(page-1)*limit:page*limit">
                <td>{{contact.lastName}} {{contact.firstName}}</td>
                <td>{{searchStatus}}</td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="search_results.length > limit">
        <p>Affichage des éléments {{min(1+(page-1)*limit, search_results.length)}} à {{min(page*limit, search_results.length)}} parmi {{search_results.length}} élements</p>
        <sui-pagination [collectionSize]="ceil(search_results.length/limit)"
                        [(page)]="page"
                        [maxSize]="3"
                        [pageSize]="1">
        </sui-pagination>
    </div>
</div>