<div class="ui center aligned padded grid">
    <div class="fourteen wide mobile eight wide tablet four wide large screen four wide computer column">
        <div class="ui card">
            <div class="image">
                <img src="assets/no-image.jpeg">
            </div>
            <div class="content">
                <a class="header">Kristy Test</a>
                <div class="meta">
                    <span class="date">Dernière connexion le</span>
                </div>
                <div class="description">
                    Junior DSI
                </div>
            </div>
            <div class="extra content">
                <a>
                    <i class="user icon"></i>
                    Modifier mon profil
                </a>
                <br>
                <a>
                    <i class="privacy icon"></i>
                    Modifier mon mot de passe
                </a>
            </div>
        </div>
        <div class="ui card">
            <h4 class="header">Liens utiles</h4>
            <a href="https://webmail.etic-insa.com/"><i class="mail icon"></i>Webmail Etic </a>
        </div>
    </div>
    <div class="fourteen wide mobile fourteen wide tablet eight wide large screen eight wide computer column">
        <doletic-contacts></doletic-contacts>
    </div>
</div>