<div>
    <div class="ui six item menu">
        <a class="item active" [routerLink]="['/dashboard']">Accueil</a>
        <a class="item" [routerLink]="['/grc']">Gestion Relations Clients</a>
        <a class="item" [routerLink]="['/rh']">Ressources Humaines</a>
        <a class="item" [routerLink]="['/support']">Support</a>
        <a class="item" [routerLink]="['/outils']">Outils</a>
        <a class="item" [routerLink]="['/ua']">Unités d'Affaires</a>
    </div>
</div>
<div class="ui center aligned padded grid">
    <div class="fifteen wide mobile fifteen wide tablet four wide large screen four wide computer column">
        <div class="ui card">
            <div class="image">
                <img src="assets/no-image.jpeg">
            </div>
            <div class="content" *ngIf="user">
                <a class="header">{{user.firstName}} {{user.lastName}}</a>
                <div class="meta">
                    <span class="date">Dernière connexion le</span>
                </div>
                <div class="description">
                    Junior DSI
                </div>
            </div>
            <div class="extra content">
                <a (click)="showModal=!showModal">
                    <i class="user icon"></i>
                    Modifier mon profil
                </a>
                <br>
                <a>
                    <i class="privacy icon"></i>
                    Modifier mon mot de passe
                </a>
            </div>
        </div>
        <div class="ui card">
            <h4 class="header">Liens utiles</h4>
            <a href="https://webmail.etic-insa.com/"><i class="mail icon"></i>Webmail Etic </a>
        </div>
    </div>
    <div class="fifteen wide mobile fifteen wide tablet eleven wide large screen eleven wide computer column">
        <doletic-studies></doletic-studies>
        <doletic-contacts></doletic-contacts>
    </div>
</div>
<sui-modal [isClosable]="true" *ngIf="showModal" (dismissed) = "cancel()">
  <div class="header">Edition du profil de {{user.firstName}}</div>
  <div class="content">
    <form class="ui form">
      <div class="two fields">
        <div class="field">
          <label>Prénom</label>
          <input type="text" [(ngModel)]="updatedUser.firstName" name="prenom" placeholder="First Name">
        </div>
        <div class="field">
          <label>Nom</label>
          <input type="text" [(ngModel)]="updatedUser.lastName" name="nom" placeholder="Last Name">
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>Civilité</label>
          <select  [(ngModel)]="updatedUser.gender" name="gender">
            <option *ngFor="let gender of genders" [value]="gender.label">
              {{gender.label}}
            </option>
          </select>
        </div>
        <div class="field">
          <label>Date de Naissance</label>
          <div class="ui left icon input">
            <input type="text" name="dateNaissance" [(ngModel)]="updatedUser.birthDate" placeholder="AAAA-MM-JJ">
            <i class="calendar icon"></i>
          </div>
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>Numéro de téléphone</label>
          <input type="text" [(ngModel)]="updatedUser.tel" name="tel" placeholder="0000000000">
        </div>
        <div class="field">
          <label>Adresse mail</label>
          <input type="text" [(ngModel)]="updatedUser.email" name="email" placeholder="Mail">
        </div>
      </div>
      <div class="field">
        <label>Adresse</label>
        <input type="text" [(ngModel)]="updatedUser.address" name="address" placeholder="Adresse">
      </div>
      <div class="two fields">
        <div class="field">
          <label>Code postal</label>
          <input type="text" [(ngModel)]="updatedUser.postalCode" name="postalCode" placeholder="Code postal">
        </div>
        <div class="field">
          <label>Ville</label>
          <input type="text" [(ngModel)]="updatedUser.city" name="city" placeholder="Ville">
        </div>
      </div>
      <div class="field">
        <label>Pays</label>
        <select  [(ngModel)]="updatedUser.country" name="country">
          <option *ngFor="let country of countries" [value]="country.label">
            {{country.label}}
          </option>
        </select>
      </div>
      <div class="two fields">
        <div class="field">
          <label>Année d'étude</label>
          <select  [(ngModel)]="updatedUser.schoolYear" name="schoolYear">
            <option *ngFor="let schoolYear of schoolYears" [value]="schoolYear.year">
              {{schoolYear.year}}
            </option>
          </select>
        </div>
        <div class="field">
          <label></label>
          <label>Département</label>
          <select  [(ngModel)]="updatedUser.department" name="department">
            <option *ngFor="let department of departments" [value]="department.label">
              {{department.label}}
            </option>
          </select>
        </div>
      </div>
    </form>
    <div *ngIf = "formError" class="ui center aligned basic segment">
    <div class="ui compact negative message">
      <div class="header">Code 500 : erreur interne du serveur</div>
      <p>La connexion au serveur n'a pas pu être établie. Veuillez réessayer ultérieurement.</p>
    </div>
    </div>
    <div *ngIf = "formLoading" class="ui basic segment">
      <div class="ui active inverted dimmer">
        <div class="ui loader"></div>
      </div>
    </div>
  </div>
  <div class="actions">
    <button class="ui red button" (click) = "cancel()" >Annuler</button>
    <button class="ui green button" autofocus (click) = "submit()" [disabled] = "formLoading">Envoyer</button>
  </div>
</sui-modal>
