<div>
    <div class="ui six item menu">
        <a class="item" [routerLink]="['/dashboard']">Accueil</a>
        <a class="item active" [routerLink]="['/grc']">Gestion Relations Clients</a>
        <a class="item" [routerLink]="['/rh']">Ressources Humaines</a>
        <a class="item" [routerLink]="['/support']">Support</a>
        <a class="item" [routerLink]="['/outils']">Outils</a>
        <a class="item" [routerLink]="['/ua']">Unités d'Affaires</a>
    </div>
</div>
<div class="ui center aligned padded grid">
    <div class="fifteen wide mobile fifteen wide tablet fifteen wide large screen fifteen wide computer column">
        <sui-tabset>
            <div class="ui top attached tabular menu">
                <a class="item" suiTabHeader="1">Gestion des sociétés</a>
                <a class="item" suiTabHeader="2">Prospections à réaliser</a>
                <a class="item" suiTabHeader="3">Résultat des prospections</a>
                <a class="item" suiTabHeader="4">Contacts courants</a>
                <a class="item" suiTabHeader="5">Anciens contacts</a>
            </div>
            <div class="ui bottom attached segment" suiTabContent="1">
                <div class="ui  padded grid">
                    <div class="sixteen wide column">
                        <doletic-company-table></doletic-company-table>
                    </div>    
                </div>
            </div>
            <div class="ui bottom attached segment" suiTabContent="2">
                <div class="ui  padded grid">
                    <div class="sixteen wide column">
                        <doletic-market-research-to-do-table></doletic-market-research-to-do-table>
                    </div> 
                </div>
            </div>
            <div class="ui bottom attached segment" suiTabContent="3">
                <div class="ui  padded grid">
                    <div class="sixteen wide column">
                        <doletic-market-research-result-table></doletic-market-research-result-table>
                    </div> 
                </div>
            </div>
            <div class="ui bottom attached segment" suiTabContent="4">
                <div class="ui  padded grid">
                    <div class="sixteen wide column">
                        <doletic-current-contacts-table></doletic-current-contacts-table>
                    </div> 
                </div>
            </div>
            <div class="ui bottom attached segment" suiTabContent="5">
                <div class="ui  padded grid">
                    <div class="sixteen wide column">
                        <doletic-old-contacts-table></doletic-old-contacts-table>
                    </div> 
                </div>
            </div>
        </sui-tabset>
    </div>
</div>
